spring.config.import: optional:dotenv:./.env

spring:
  application:
    name: validation

  datasource:
    url: jdbc:postgresql://localhost:5432/validationdb
    username: postgres
    password: Jaas@postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true    
        dialect: org.hibernate.dialect.PostgreSQLDialect

  docker:
    compose:
      enabled: false

  data:
    redis:
      host: localhost
      port: 6379

  cache:
    type: redis

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: pms-core-consumer-group

server:
  port: 8080

spring.autoconfigure.exclude:
  - org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration
  - org.springframework.boot.docker.compose.DockerComposeAutoConfiguration
